<!DOCTYPE html>

<html>

<head>
     <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     <div class="main-content">
    {{>header}}
    {{!-- <h1>about page hbs</h1>
    --}}
    {{!-- <h1>{{topic}}</h1> --}}
    <img class="portrait" src="/img/me.jpg">
    </div>
    {{>footer}}
</body>

</html>