<!DOCTYPE html>

<html>

<head>
    <title>help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content"> 
        
    {{>header}}
 

    <p> why should i help you ,help youself</p>
     {{!-- <p>{{helpText}}</p> --}} 
{{!-- <h1>help page hbs</h1> --}}
 {{!-- <h1>{{topic}}</h1> --}}
 
    </div>
     {{>footer}}
  

</body>

</html>