<!DOCTYPE html>
<html>
<head>

<title>home</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
 

{{!-- <h1>home static page hbs</h1> --}}
{{!-- <h1>{{topic}}</h1> --}}
  </div>
  {{>footer}}

</body>

</html>