
body{
    color: #333;
    font-family: arial;
    max-width: 650px;
    margin:0 auto;
    padding:0 ;
    
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

.main-content{
flex-grow: 1;

}


footer{
    margin-top:16px;
    color: black;
     font-size: 20px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
     padding: 6px 0; 
     border-top: 1px solid #333;
}
header{

    margin-top: 16px;
     margin-bottom: 48px;
}
h1{
font-size: 64px;
margin-bottom: 16px;

}
header a{

    color: #888;
    margin-right: 16px;

    text-decoration: none;

}
.portrait{

width: 250px;


}
input{
    padding:  auto;
    border: 1px solid #444;
}
button{
    width: 30px;
    padding: auto;
}